[project]
name = "npalogaudit"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.13"
dependencies = [
    "openpyxl>=3.1.5",
    "pandas>=2.3.3",
    "pandas-stubs~=2.3.3",
    "pyinstaller>=6.18.0",
    "pywebview>=6.1",
]
